//- social-block

//- Наше приложение
tr
	td.social
		p.text__p Наше приложение
		.social__imgs
			a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
				img.app-img(src=`${BASE_URL}img/email/app-store.png` alt="" border="0" width="fit-content")
			a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
				img.app-img(src=`${BASE_URL}img/email/google-play.png` alt="" border="0" width="fit-content")
			a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
				img.app-img(src=`${BASE_URL}img/email/app-gallery.png` alt="" border="0" width="fit-content")
//- Мы в соцсетях
tr
	td.social
		p.text__p Мы в соцсетях
		table.social__table(align="left" border="0" cellspacing="0" cellpadding="0" role="presentation")
			tr
				td.social__box
					a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
						img.social__img(src=`${BASE_URL}img/email/vk.png` alt="" border="0" width="40" height="40")
				td.social__box
					a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
						img.social__img(src=`${BASE_URL}img/email/telegram.png` alt="" border="0" width="40" height="40")
				td.social__box
					a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
						img.social__img(src=`${BASE_URL}img/email/instagram.png` alt="" border="0" width="40" height="40")
				td.social__box
					a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
						img.social__img(src=`${BASE_URL}img/email/facebook.png` alt="" border="0" width="40" height="40")
				td.social__box
					a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
						img.social__img(src=`${BASE_URL}img/email/youtube.png` alt="" border="0" width="40" height="40")
				td.social__box
					a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
						img.social__img(src=`${BASE_URL}img/email/ok.png` alt="" border="0" width="40" height="40")
				td.social__box
					a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
						img.social__img(src=`${BASE_URL}img/email/dzen.png` alt="" border="0" width="40" height="40")
