block vars
	- let title = null
	- let bodyClass = null
	- let layoutClass = 'layout'

doctype html
html(lang="ru")
	head
		include _mixins
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name='format-detection' content='telephone=no, address=no')

		//- Favicons
		link(rel="icon" type="image/png" sizes="96x96" href=`${BASE_URL}favicons/favicon-96x96.png` )
		link(rel="icon" type="image/svg+xml" href=`${BASE_URL}favicons/favicon.svg`)
		link(rel="shortcut icon" href=`${BASE_URL}favicons/favicon.ico`)
		link(rel="apple-touch-icon" sizes="180x180" href=`${BASE_URL}favicons/apple-touch-icon.png`)
		link(rel="manifest" href=`${BASE_URL}favicons/site.webmanifest`)

		//- OpenGraph
		meta(property='og:title' content=title ? title : PROJECT_TITLE)
		meta(property='og:locale' content='ru_RU')
		meta(property='og:description' content='')
		meta(property='og:type' content='')
		meta(property='og:url' content='')
		meta(property='og:site_name' content='')

		meta(property='og:image' content=`${BASE_URL}img/opengraph-image.jpg`)
		//- размеры для изображения лучше указывать
		meta(property='og:image:width' content="1024")
		meta(property='og:image:height' content="568")

		//- чтобы в телеграмме была большая картинка
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:image" content=`${BASE_URL}img/opengraph-image.jpg`)

		title= title ? title : PROJECT_TITLE
		style.
			@view-transition {
				navigation: auto;
			}

		//- Additional
		block head

	body.page(class=bodyClass)
		#app(class=layoutClass)
			suspense
				root-component(csrf-token='' :captcha='{ key: "", type: "yacaptcha" }' :docs="[{ code: 'user-agreement', link: '/agreement/' }, { code: 'privacy-policy', link: '/policy/' }]")
					block content

			include /base/_modals
		include _scripts
