extends /base/_head

block vars
	- let title = 'UI Kit'
	- let layoutClass = null
	- let bodyClass = null

block content
	main.page__main
		+page-header({title: 'UI Kit',})
			+slot('actions')
				a.link.link--color-primary(href=`${BASE_URL}`) Назад
		section.project-view
			.wrapper
				x-tabs(initial-tab="All" active-class="active")
					template(#default="{ activeTab, getActiveClass, tabEvents }")
						nav.tabs(style="overflow: hidden; flex-wrap: wrap")
							each tab in ['All', 'Breadcrumbs', 'Typography', 'Buttons', 'Links', 'Icons', 'Dropdowns', 'Tabs', 'Accordion', 'Modals', 'Gallery', 'Slider', 'Pagination', 'Video', 'Forms', 'Show more', 'Inputs', 'Textarea', 'Select', 'Checkbox', 'Radio', 'Switch', 'Search', 'Date', 'File', 'Range', 'Code Input', 'Loaders', 'Skeletons', 'Toasts', 'Social Share', 'I18n', 'Tooltip']
								button.tab.tab--default(v-initial-scroll=tab === 'All' :class=`getActiveClass('${tab}')` v-on=`tabEvents('${tab}')`)=tab

						.tab-content
							br
							template(v-if="['All', 'Breadcrumbs'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Breadcrumbs
									.pv-block__preview
										+breadcrumbs(["Главная", "UI"])

							template(v-if="['All', 'Typography'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Typography & Animations
									.pv-block__preview
										.pv-block__items
											.pv-block__item(v-animate="{animationClass: 'fadeInUp'}")
												h3  Primary Font Family - Helvetica Regular

											.pv-block__item(v-animate="{animationClass: 'fadeInUp'}")
												h3(style="font-weight: 700;") Primary Font Family - Helvetica Bold

										.pv-block__items
											.pv-block__item(v-animate="{animationClass: 'fadeInUp'}")
												h3(style="fontFamily: var(--font-family-secondary);") Secondary Font Family - Montserrat Regular

											.pv-block__item(v-animate="{animationClass: 'fadeInUp'}")
												h3(style="fontFamily: var(--font-family-secondary); font-weight: 700; ") Secondary Font Family - Montserrat Bold

										.pv-block__devider

										.pv-block__items(v-animate="{animationClass: 'fadeInUp'}")
											.pv-block__item
												h1.title.title--h1 Heading 1

											.pv-block__item
												h2.title.title--h2 Heading 2

											.pv-block__item
												h3.title.title--h3 Heading 3

											.pv-block__item
												h4.title.title--h4 Heading 4

											.pv-block__item
												h5.title.title--h5 Heading 5

											.pv-block__item
												h6.title.title--h6 Heading 6

										.pv-block__items.pv-block__items--row(v-animate="{animationClass: 'fadeInUp'}")
											.pv-block__item
												p.text Paragraph 1

											.pv-block__item
												p.text.text--size-s Paragraph 2

											.pv-block__item
												p.text.text--caption Caption


							template(v-if="['All', 'Buttons'].includes(activeTab)")

								.pv-block
									h3.pv-block__title Buttons default (.btn)
									.pv-block__preview

										.pv-block__items.pv-block__items--row
											.pv-block__item
												button.btn
													+icon('arrow-left').btn__icon
													span.btn__text Button
													+icon('arrow-right').btn__icon

											.pv-block__item
												button.btn(disabled)
													span.btn__text Button disabled

											.pv-block__item
												button.btn(loading="true")
													span.btn__text Button loading

										.pv-block__items.pv-block__items--row
											.pv-block__item
												button.btn.btn--size-s
													+icon('arrow-left').btn__icon
													span.btn__text size-s
													+icon('arrow-right').btn__icon

											.pv-block__item
												button.btn.btn--size-s(disabled)
													span.btn__text size-s disabled

											.pv-block__item
												button.btn.btn--size-s(loading="true")
													span.btn__text size-s loading
								.pv-block
									h3.pv-block__title Buttons primary ( .btn.btn--color-primary )
									.pv-block__preview

										.pv-block__items.pv-block__items--row
											.pv-block__item
												button.btn.btn--color-primary
													+icon('arrow-left').btn__icon
													span.btn__text Button
													+icon('arrow-right').btn__icon

											.pv-block__item
												button.btn.btn--color-primary.disabled
													span.btn__text Button disabled

											.pv-block__item
												button.btn.btn--color-primary(loading="true")
													span.btn__text Button loading

										.pv-block__items.pv-block__items--row
											.pv-block__item
												button.btn.btn--color-primary.btn--size-s
													+icon('arrow-left').btn__icon
													span.btn__text size-s
													+icon('arrow-right').btn__icon

											.pv-block__item
												button.btn.btn--color-primary.btn--size-s(disabled)
													span.btn__text size-s disabled

											.pv-block__item
												button.btn.btn--color-primary.btn--size-s(loading="true")
													span.btn__text size-s loading

								.pv-block.pv-block--dark
									h3.pv-block__title Buttons secondary ( .btn.btn--color-secondary )
									.pv-block__preview

										.pv-block__items.pv-block__items--row
											.pv-block__item
												button.btn.btn--color-secondary
													+icon('arrow-left').btn__icon
													span.btn__text Button
													+icon('arrow-right').btn__icon

											.pv-block__item
												button.btn.btn--color-secondary.disabled
													span.btn__text Button disabled

											.pv-block__item
												button.btn.btn--color-secondary(loading="true")
													span.btn__text Button loading

										.pv-block__items.pv-block__items--row
											.pv-block__item
												button.btn.btn--color-secondary.btn--size-s
													+icon('arrow-left').btn__icon
													span.btn__text size-s
													+icon('arrow-right').btn__icon

											.pv-block__item
												button.btn.btn--color-secondary.btn--size-s(disabled)
													span.btn__text size-s disabled

											.pv-block__item
												button.btn.btn--color-secondary.btn--size-s(loading="true")
													span.btn__text size-s loading

							template(v-if="['All', 'Links'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Links
									.pv-block__preview

										.pv-block__items
											.pv-block__item
												a(href="#").link.link--color-primary Link

											.pv-block__item
												a(href="#").link.link--color-primary.disabled Link Disabled

											.pv-block__item
												a(href="#").link.link--color-primary.link--underlined Link Underlined

											.pv-block__item
												p Some text with a #[a(href="#").link.link--color-primary link] inside

											.pv-block__item
												p Some text with an #[a(href="#").link.link--color-primary.link--underlined underlined link] inside

											.pv-block__item
												a(href="#").link.link--color-primary Link with icon
													+icon('arrow-right').link__icon

											.pv-block__item
												a(href="#").link.link--color-primary
													+icon('arrow-left').link__icon
													| Link with icon
													+icon('arrow-right').link__icon
											.pv-block__item
												a(href="#" loading="true").link.link--color-primary
													+icon('arrow-left').link__icon
													span.link__text Link with loader 
													+icon('arrow-right').link__icon

							template(v-if="['All', 'Show More'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Show More (cut string)
									.pv-block__preview
										.toggle-text
											x-show-more(style="--cut-string-value: 100").toggle-text__content
												p Вместо класса 'test-text' добавляем свой и в нем управляем переменной cut-string-value
												template(#trigger="{hasOverflow, isActive, toggleActive}")
													button.link.link--color-primary(v-if="hasOverflow" @click="toggleActive") Показать еще

										.toggle-text
											x-show-more().toggle-text__content
												p Тут будет только кнопка <span style="color: #336699">'Показать еще'</span>. пам-пам.  пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам.
												template(#trigger="{hasOverflow, isActive, toggleActive}")
													button.link.link--color-primary(v-if="hasOverflow" @click="toggleActive") Показать еще

										.toggle-text
											x-show-more().toggle-text__content
												p Тут будет не только кнопка <span style="color: #336699">'Показать еще'</span>, но и кнопка <span style="color: #336699">'Скрыть'</span>. пам-пам.  пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам.
												template(#trigger="{hasOverflow, isActive, toggleActive}")
													button.link.link--color-primary(v-if="hasOverflow" @click="toggleActive") Показать еще
													button.link.link--color-primary(v-else-if="isActive" @click="toggleActive") Скрыть

								.pv-block
									h3.pv-block__title Show More (max-height)
									.pv-block__preview

										.toggle-text
											x-show-more(mode="block").toggle-text__content
												p Вместо класса 'test-text' добавляем свой и в нем управляем переменной block-height
												template(#trigger="{hasOverflow, isActive, toggleActive}")
													button.link.link--color-primary(v-if="hasOverflow" @click="toggleActive") Показать еще

										.toggle-text
											x-show-more(mode="block").toggle-text__content
												p Тут будет только кнопка <span style="color: #336699">'Показать еще'</span>. пам-пам.  пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам.
												template(#trigger="{hasOverflow, isActive, toggleActive}")
													button.link.link--color-primary(v-if="hasOverflow" @click="toggleActive") Показать еще

										.toggle-text
											x-show-more(mode="block").toggle-text__content
												p Тут будет не только кнопка <span style="color: #336699">'Показать еще'</span>, но и кнопка <span style="color: #336699">'Скрыть'</span>. пам-пам.  пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам.
												template(#trigger="{hasOverflow, isActive, toggleActive}")
													button.link.link--color-primary(v-if="hasOverflow" @click="toggleActive") Показать еще
													button.link.link--color-primary(v-else-if="isActive" @click="toggleActive") Скрыть

							template(v-if="['All', 'Icons'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Icon
									.pv-block__preview

										p Просто иконки (например лайки, просмотры, дата у новости и т.д)
										.pv-block__items.pv-block__items--row
											.pv-block__item
												+icon('arrow-right').icon
											.pv-block__item
												+icon('calendar').icon
											.pv-block__item
												+icon('clip').icon

							template(v-if="['All', 'Dropdowns'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Dropdown
									.pv-block__preview
										.pv-block__items.pv-block__items--row
											x-dropdown(aria-id="dropdown-1" :distance="10")
												button.btn AriaId

												template(#content)
													p aria-id: идентификатор для привязки aria-describedby и контейнера.
													p distance: расстояние между триггером и всплывающим меню (10px).

											x-dropdown(:delay="2000" placement="top" :distance="10")
												button.btn Delay 2s

												template(#content)
													p delay: задержка открытия/закрытия (2000мс).
													p placement: начальная позиция всплывающего меню относительно триггера (top).

											x-dropdown(:delay="{ show: 0, hide: 1000 }" placement="top" :distance="10")
												button.btn Show 0s, Hide 1s

												template(#content)
													p delay: объект с задержками для show (0мс) и hide (1000мс).
													p placement: начальная позиция всплывающего меню относительно триггера (top).

											x-dropdown(shift shift-cross-axis :distance="10")
												button.btn Strategy fixed + shift axis

												template(#content)
													p shift: смещение dropdown при нехватке места (включено).
													p shift-cross-axis: смещение вдоль перпендикулярной оси (включено).
													p strategy: стратегия позиционирования popper (fixed, по умолчанию).

											x-dropdown(shift shift-cross-axis strategy='absolute' :distance="10")
												button.btn Strategy absolute + shift axis

												template(#content)
													p shift: смещение dropdown при нехватке места (включено).
													p shift-cross-axis: смещение вдоль перпендикулярной оси (включено).
													p strategy: стратегия позиционирования popper (absolute).

											x-dropdown(theme='null' placement="bottom" :distance="10")
												button.btn Theme: null

												template(#content)
													p(style="padding: 10px; background-color: #cccccc; border-radius: 10px") Прозрачная тема без стрелок и фона, чтобы отображать только проброшенный контент (например, этот абзац с черным текстом на сером фоне со скругленными углами)

											x-dropdown(theme='without-arrow' :distance="10")
												button.btn Theme: without-arrow

												template(#content)
													p theme: тема оформления всплывающего меню (without-arrow - без стрелки).

											x-dropdown(:distance="10")
												button.btn With Hide btn

												template( #content={ hide } )
													p В слоте content доступна функция hide для программного закрытия dropdown.
													button.btn(@click="hide").btn.btn--color-secondary Закрыть

											x-dropdown(positioning-disabled :distance="10")
												button.btn Positioning disabled

												template(#content)
													p positioning-disabled: отключение динамического позиционирования всплывающего меню (включено).

											x-dropdown(:triggers=['hover', 'click'] :distance="10")
												button.btn Hover

												template(#content)
													p triggers: события для открытия всплывающего меню (hover и click).

											x-dropdown(:triggers=['hover', 'click'] :popper-triggers=['hover'] :distance="10")
												button.btn Hover (popper triggers)

												template(#content)
													p triggers: события для открытия всплывающего меню (hover и click).
													p popper-triggers: альтернативные события для управления popper отдельно от триггера (hover).

											x-dropdown(placement="top-start" :distance="10")
												button.btn Placement Top-Start

												template(#content)
													p placement: начальная позиция всплывающего меню относительно триггера (top-start).

											x-dropdown(placement="top" :skidding="80" )
												button.btn Placement Top + Skidding 80

												template(#content)
													p placement: начальная позиция всплывающего меню относительно триггера (top).
													p skidding: смещение поперек основного направления размещения (80px).

											x-dropdown(placement="top" :distance="80" )
												button.btn Placement Top + Distance 80

												template(#content)
													p placement: начальная позиция всплывающего меню относительно триггера (top).

											x-dropdown(:distance="10")
												button.btn Overflow text

												template(#content)
													p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum tincidunt molestie. Donec a est pulvinar odio consequat accumsan quis ac lorem. Vivamus quis sagittis diam. Pellentesque laoreet molestie nulla eget finibus.

							template(v-if="['All', 'Tabs'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Tabs
									.pv-block__preview
										.pv-block__items
											.pv-block__item
												h6 Табы ссылки
												nav.tabs
													each tab in ['First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth']
														a.tab.tab--default(v-initial-scroll=tab === 'Third' href="" class=(tab === 'Third' ? 'active' : ''))=tab

										.pv-block__items
											.pv-block__item
												h6 Обычные табы
												x-tabs(initial-tab="Fifth" active-class="active")
													template(#default="{ activeTab, getActiveClass, tabEvents }")
														nav.tabs
															each tab in ['First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth']
																button.tab.tab--default(v-initial-scroll=tab === 'Fifth' :class=`getActiveClass('${tab}')` v-on=`tabEvents('${tab}')`)=tab

														.tab-content
															br
															transition(name="fade" mode="out-in")
																template(v-if="activeTab === 'First'")
																	span Таб 1 - Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, aspernatur.
																template(v-else-if="activeTab === 'Second'")
																	span Таб 2 - Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, aspernatur.
																template(v-else-if="activeTab === 'Third'")
																	span Таб 3 - Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, aspernatur.
																template(v-else-if="activeTab === 'Fourth'")
																	span Таб 4 - Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, aspernatur.
																template(v-else-if="activeTab === 'Fifth'")
																	span Таб 5 - Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, aspernatur.
																template(v-else-if="activeTab === 'Sixth'")
																	span Таб 6 - Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, aspernatur.

							template(v-if="['All', 'Accordion'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Accordion
									.pv-block__preview
										.pv-block__items
											.pv-block__item
												+base-accordion(
													[
														{
															title: 'Как регулируются в мире конфликты между государствами и какие организации отвечают за их решение?',
															content: 'Рост населения и экономическое развитие стран оказывают существенное влияние на мировой порядок. С ростом населения возрастает потребление природных ресурсов, что приводит к усилению экологических проблем. Экономическое развитие стран ведет к наращиванию экономической мощности и политического влияния на международной арене. Это может приводить к установлению новых правил игры в мировой экономике, заключению новых торговых, политических и военных союзов, а также изменению баланса сил между государствами. Кроме того, в условиях глобализации и международного общения различные тенденции в развитии экономики и демографии одних стран сильно влияют на другие страны.'
														},
													]
												)(media-until="tablet")

											.pv-block__item
												+base-accordion(
													[
														{
															title: 'Как регулируются в мире конфликты между государствами и какие организации отвечают за их решение?',
															content: '<p>Рост населения и экономическое развитие стран оказывают существенное влияние на мировой порядок. С ростом населения возрастает потребление природных ресурсов, что приводит к усилению экологических проблем. Экономическое развитие стран ведет к наращиванию экономической мощности и политического влияния на международной арене. Это может приводить к установлению новых правил игры в мировой экономике, заключению новых торговых, политических и военных союзов, а также изменению баланса сил между государствами. Кроме того, в условиях глобализации и международного общения различные тенденции в развитии экономики и демографии одних стран сильно влияют на другие страны.</p><p>Рост населения и экономическое развитие стран оказывают существенное влияние на мировой порядок. С ростом населения возрастает потребление природных ресурсов, что приводит к усилению экологических проблем. Экономическое развитие стран ведет к наращиванию экономической мощности и политического влияния на международной арене. Это может приводить к установлению новых правил игры в мировой экономике, заключению новых торговых, политических и военных союзов, а также изменению баланса сил между государствами. Кроме того, в условиях глобализации и международного общения различные тенденции в развитии экономики и демографии одних стран сильно влияют на другие страны.</p><p>Рост населения и экономическое развитие стран оказывают существенное влияние на мировой порядок. С ростом населения возрастает потребление природных ресурсов, что приводит к усилению экологических проблем. Экономическое развитие стран ведет к наращиванию экономической мощности и политического влияния на международной арене. Это может приводить к установлению новых правил игры в мировой экономике, заключению новых торговых, политических и военных союзов, а также изменению баланса сил между государствами. Кроме того, в условиях глобализации и международного общения различные тенденции в развитии экономики и демографии одних стран сильно влияют на другие страны.</p><p>Рост населения и экономическое развитие стран оказывают существенное влияние на мировой порядок. С ростом населения возрастает потребление природных ресурсов, что приводит к усилению экологических проблем. Экономическое развитие стран ведет к наращиванию экономической мощности и политического влияния на международной арене. Это может приводить к установлению новых правил игры в мировой экономике, заключению новых торговых, политических и военных союзов, а также изменению баланса сил между государствами. Кроме того, в условиях глобализации и международного общения различные тенденции в развитии экономики и демографии одних стран сильно влияют на другие страны.</p>'
														}
													]
												)(opened)


							template(v-if="['All', 'Modals'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Modals
									.pv-block__preview
										.pv-block__items.pv-block__items--row
											.pv-block__item
												button(@click="openModal('modal-callback', { title: 'Перезвоните мне', description: 'Пожалуйста, оставьте ваш номер телефона и мы вам перезвоним.' })").btn.btn--color-primary.btn--size-s Show modal with data
											.pv-block__item
												button(@click="openModal('modal-video', { title: 'Название новости, занимающее одну или несколько строк', date: '11.03.2025', video: { poster: 'https://html.xpager.ru/frontend-template-plug/video-poster.webp', sources: [{src: 'https://html.xpager.ru/frontend-template-plug/xpage.mp4', type: 'video/mp4'},{src: 'https://html.xpager.ru/frontend-template-plug/xpage.webm', type: 'video/webm'},] } })").btn.btn--color-primary.btn--size-s Show video in modal
											.pv-block__item
												button(@click="openModal('modal-video', { title: 'Название новости, занимающее одну или несколько строк', date: '11.03.2025', iframe: { src: 'https://vk.com/video_ext.php?oid=-44270144&id=456245637&hd=2&autoplay=1' } })").btn.btn--color-primary.btn--size-s Show iframe in modal

							template(v-if="['All', 'Gallery'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Gallery
									.pv-block__preview
										-
											const slidesPreview = [
												{ src: 'https://lipsum.app/id/1/270x150'},
												{ src: 'https://lipsum.app/id/2/270x150'},
												{ src: 'https://lipsum.app/id/3/270x150'},
												{ src: 'https://lipsum.app/id/4/270x150'},
												{ src: 'https://lipsum.app/id/5/270x150'},
												{ src: 'https://lipsum.app/id/6/270x150',},
												{ src: 'https://lipsum.app/id/7/270x150',},
												{ src: 'https://lipsum.app/id/8/270x150',},
												{ src: 'https://lipsum.app/id/9/270x150',},
												{ src: 'https://lipsum.app/id/10/270x150' },
												{ src: 'https://lipsum.app/id/11/270x150'},
												{ src: 'https://lipsum.app/id/12/270x150',},
												{ src: 'https://lipsum.app/id/13/270x150',},
												{ src: 'https://lipsum.app/id/14/270x150', },
												{ src: 'https://lipsum.app/id/15/270x150', },
												{ src: 'https://lipsum.app/id/16/270x150', },
												{ src: 'https://lipsum.app/id/17/270x150', },
											];
										//- Использовал тег а не миксин для отображения человеческих фотографий
										each slide, i in slidesPreview
											picture.img.pv-block__item(@click=`openModal('modal-gallery-2', ${i})`)
												img.img__image(src=slide.src, alt=slide.alt, width="270", height="150", loading="lazy")


										-
											const slides = [
												{ poster: 'https://lipsum.app/id/1/96x64', src: 'https://lipsum.app/id/1/1366x768', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/2/96x64', src: 'https://lipsum.app/id/2/900x1600', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/3/96x64', src: 'https://lipsum.app/id/3/400x300', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/4/96x64', src: 'https://lipsum.app/id/4/1800x1200', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/5/96x64', src: 'https://lipsum.app/id/5/1800x1200', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/6/96x64', src: 'https://lipsum.app/id/6/1800x1200', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/7/96x64', src: 'https://lipsum.app/id/7/1800x1200', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/8/96x64', src: 'https://lipsum.app/id/8/1800x1200', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/9/96x64', src: 'https://lipsum.app/id/9/1800x1200', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/10/96x64', src: 'https://lipsum.app/id/10/2560x1600', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/11/96x64', src: 'https://lipsum.app/id/11/1800x1200', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/12/96x64', src: 'https://lipsum.app/id/12/1800x1200', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/13/96x64', src: 'https://lipsum.app/id/13/1800x1200', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/14/96x64', src: 'https://lipsum.app/id/14/1800x1200', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/15/96x64', src: 'https://lipsum.app/id/15/1800x1200', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/16/96x64', src: 'https://lipsum.app/id/16/1800x1200', alt: 'alt' },
												{ poster: 'https://lipsum.app/id/17/96x64', src: 'https://lipsum.app/id/17/1800x1200', alt: 'alt' },
											];


										x-modal-gallery(id="modal-gallery-2" :slides=slides )

							template(v-if="['All', 'Slider'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Slider
									.pv-block__preview
										.pv-block__items.pv-block__items--row
											.pv-block__item
												+content-slider([
													{
														img: 'banner',
														text: 'Подпись к фотографии, которая может состоять из одной или двух строк'
													},
													{
														img: 'banner',
														text: 'Подпись к фотографии, которая может состоять из одной или двух строк Подпись к фотографии, которая может состоять из одной или двух строк'
													},
													{
														img: 'banner',
														text: 'Подпись к фотографии, которая может состоять из одной или двух строк'
													},
												])

							template(v-if="['All', 'Pagination'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Pagination
									.pv-block__preview

										.pv-block__items
											.pv-block__item
												x-pagination(:page-current="1" :total-items="100" :limit-items="10")

											.pv-block__item
												x-pagination(:page-current="1" :total-items="30" :limit-items="10")

											.pv-block__item
												x-pagination(:page-current="1" :total-items="100" :limit-items="10" :max-buttons="3")

											.pv-block__item
												x-pagination(:page-current="1" :total-items="100" :limit-items="10" :show-navigation="false")

											.pv-block__item
												x-pagination(:page-current="1" :total-items="100" :limit-items="10" :show-ellipsis="false")

											.pv-block__item
												x-pagination(:page-current="1" :total-items="100" :limit-items="10" :show-navigation="false" :show-ellipsis="false")

								.pv-block.pv-block--dark
									h3.pv-block__title Pagination Revert
									.pv-block__preview

										.pv-block__items
											.pv-block__item
												x-pagination(:page-current="1" :total-items="100" :limit-items="10" theme="light")

											.pv-block__item
												x-pagination(:page-current="1" :total-items="30" :limit-items="10" theme="light")

											.pv-block__item
												x-pagination(:page-current="1" :total-items="100" :limit-items="10" :max-buttons="3" theme="light")

											.pv-block__item
												x-pagination(:page-current="1" :total-items="100" :limit-items="10" :show-navigation="false" theme="light")

											.pv-block__item
												x-pagination(:page-current="1" :total-items="100" :limit-items="10" :show-ellipsis="false" theme="light")

											.pv-block__item
												x-pagination(:page-current="1" :total-items="100" :limit-items="10" :show-navigation="false" :show-ellipsis="false" theme="light")

							template(v-if="['All', 'Video'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Video
									.pv-block__preview
										x-video(
											:video="{ poster: 'https://html.xpager.ru/frontend-template-plug/video-poster.webp', sources: [{ src: 'https://html.xpager.ru/frontend-template-plug/xpage.mp4', type: 'video/mp4' }, { src: 'https://html.xpager.ru/frontend-template-plug/xpage.webm', type: 'video/webm' }] }"
											:width="640"
											:height="480"
											controls
										).pv-block__video

							template(v-if="['All', 'Forms'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Свяжитесь с нами
									.pv-block__preview
										form-contact
								.pv-block
									h3.pv-block__title Откликнуться на вакансию
									.pv-block__preview
										form-vacancy(:cities="[{ value: 1, label: 'Челябинск' }, { value: 2, label: 'Москва' }, {value: 3, label: 'Санкт-Петербург' }]" :vacancies="[{ value: 1, label: 'Менеджер по продажам' }, { value: 2, label: 'Менеджер по закупкам' }, { value: 3, label: 'Менеджер по логистике' }]")

							template(v-if="['All', 'Show more'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Show More (cut string)
									.pv-block__preview
										.toggle-text
											x-show-more(style="--cut-string-value: 100").toggle-text__content
												p Вместо класса 'test-text' добавляем свой и в нем управляем переменной cut-string-value
												template(#trigger="{hasOverflow, isActive, toggleActive}")
													button.link.link--color-primary(v-if="hasOverflow" @click="toggleActive") Показать еще

										.toggle-text
											x-show-more().toggle-text__content
												p Тут будет только кнопка <span style="color: #336699">'Показать еще'</span>. пам-пам.  пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам.
												template(#trigger="{hasOverflow, isActive, toggleActive}")
													button.link.link--color-primary(v-if="hasOverflow" @click="toggleActive") Показать еще

										.toggle-text
											x-show-more().toggle-text__content
												p Тут будет не только кнопка <span style="color: #336699">'Показать еще'</span>, но и кнопка <span style="color: #336699">'Скрыть'</span>. пам-пам.  пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам.
												template(#trigger="{hasOverflow, isActive, toggleActive}")
													button.link.link--color-primary(v-if="hasOverflow" @click="toggleActive") Показать еще
													button.link.link--color-primary(v-else-if="isActive" @click="toggleActive") Скрыть

								.pv-block
									h3.pv-block__title Show More (max-height)
									.pv-block__preview

										.toggle-text
											x-show-more(mode="block").toggle-text__content
												p Вместо класса 'test-text' добавляем свой и в нем управляем переменной block-height
												template(#trigger="{hasOverflow, isActive, toggleActive}")
													button.link.link--color-primary(v-if="hasOverflow" @click="toggleActive") Показать еще

										.toggle-text
											x-show-more(mode="block").toggle-text__content
												p Тут будет только кнопка <span style="color: #336699">'Показать еще'</span>. пам-пам.  пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам.
												template(#trigger="{hasOverflow, isActive, toggleActive}")
													button.link.link--color-primary(v-if="hasOverflow" @click="toggleActive") Показать еще

										.toggle-text
											x-show-more(mode="block").toggle-text__content
												p Тут будет не только кнопка <span style="color: #336699">'Показать еще'</span>, но и кнопка <span style="color: #336699">'Скрыть'</span>. пам-пам.  пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам. пам-пам.
												template(#trigger="{hasOverflow, isActive, toggleActive}")
													button.link.link--color-primary(v-if="hasOverflow" @click="toggleActive") Показать еще
													button.link.link--color-primary(v-else-if="isActive" @click="toggleActive") Скрыть

							template(v-if="['All', 'Social Share'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Social Share
									.pv-block__preview
										.pv-block__items.pv-block__items--row
											.pv-block__item
												p Блок с заголовком
												+social-share({ title: 'Поделиться', url: 'https://www.xpage.ru/', text: 'Интегратор цифровых продуктов' })

											.pv-block__item
												p Блок без заголовка
												+social-share({ url: 'https://www.xpage.ru/', text: 'Интегратор цифровых продуктов' })

							template(v-if="['All', 'Tooltip'].includes(activeTab)")
								.pv-block
									h3.pv-block__title Tooltips
									.pv-block__preview
										.pv-block__items(style="width: fit-content")
											.pv-block__item
												span(style="margin-right: 10px;") Тултип сверху
												+tooltip({ id: 'top-1', position: 'top' })
													+slot('content')
														div(style="padding: 12px; background-color: #fff; border-radius: 8px; border: 1px solid #888") Полезная подсказка

											.pv-block__item
												span(style="margin-right: 10px;") Тултип сверху справа
												+tooltip({ id: 'top-2', position: 'top-right' })
													+slot('content')
														div(style="padding: 12px; background-color: #fff; border-radius: 8px; border: 1px solid #888") Полезная подсказка

											.pv-block__item
												span(style="margin-right: 10px;") Тултип сверху слева
												+tooltip({ id: 'top-3', position: 'top-left' })
													+slot('content')
														div(style="padding: 12px; background-color: #fff; border-radius: 8px; border: 1px solid #888") Полезная подсказка

											.pv-block__item
												span(style="margin-right: 10px;") Тултип внизу
												+tooltip({ id: 'bottom-1' })
													+slot('content')
														div(style="padding: 12px; background-color: #fff; border-radius: 8px; border: 1px solid #888") Полезная подсказка

											.pv-block__item
												span(style="margin-right: 10px;") Тултип внизу слева
												+tooltip({ id: 'bottom-2', position: 'bottom-left' })
													+slot('content')
														div(style="padding: 12px; background-color: #fff; border-radius: 8px; border: 1px solid #888") Полезная подсказка

											.pv-block__item
												span(style="margin-right: 10px;") Тултип внизу справа
												+tooltip({ id: 'bottom-3', position: 'bottom-right' })
													+slot('content')
														div(style="padding: 12px; background-color: #fff; border-radius: 8px; border: 1px solid #888") Полезная подсказка

											.pv-block__item
												span(style="margin-right: 10px;") Тултип справа
												+tooltip({ id: 'right', position: 'right' })
													+slot('content')
														div(style="padding: 12px; background-color: #fff; border-radius: 8px; border: 1px solid #888") Полезная подсказка

											.pv-block__item
												span(style="margin-right: 10px;") Тултип слева
												+tooltip({ id: 'left', position: 'left' })
													+slot('content')
														div(style="padding: 12px; background-color: #fff; border-radius: 8px; border: 1px solid #888") Полезная подсказка

										.pv-block__items(style="width: fit-content")
											.pv-block__item
												+tooltip({ id: 'default'})
													+slot('trigger')
														span(style="margin-right: 10px;") Контент - триггер для тултипа
													+slot('content')
														div(style="padding: 12px; background-color: #fff; border-radius: 8px; border: 1px solid #888; min-width: 300px") Если не добавлять контент в слот триггер, то будет просто иконка с вопросом. Если не задавать позицию, то тултип будет снизу по центру

											.pv-block__item
												+tooltip({ id: 'right' })
													+slot('trigger')
														div.btn Ещё контент
													+slot('content')
														div(style="padding: 12px; background-color: #fff; border-radius: 8px; border: 1px solid #888") Полезная подсказка


							ui-preview(:tab="activeTab")

block head
	style.
		.project-view {
			--view-bg: var(--body-bg);
			--view-color: var(--body-color);
			--view-block-bg: var(--color-neutral-100);
			--view-border: var(--default-border);
			--view-link: var(--body-color);
			--view-link-hover: var(--color-primary-500);
			--view-title-color: var(--body-color);
			--view-check: var(--color-primary-300);
			position: relative;
			z-index: 0;
			display: flex;
			flex-direction: column;
			width: 100%;
			min-height: 100vh;
			padding: fluid(60, 40) 0;
			background-color: var(--view-bg);
			color: var(--view-color);
		}

		.project-view .default-input__input {
			min-width: 250px;
		}

		.wrapper {
			display: flex;
			flex: 1 1 100%;
			flex-direction: column;
		}

		.pv-title {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 20px;
			margin-bottom: fluid(60, 24);
		}

		.pv-title__text {
			margin: 0;
			color: var(--view-color);
			font-size: fluid(32, 18);
			font-weight: 600;
		}

		.pv-logo {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.pv-logo__image.img {
			--width: fluid(270, 180);
			--aspect-ratio: 270/70;
			--object-fit: contain;
		}

		.pv-blocks {
			width: 100%;
		}

		.pv-blocks--columns {
			column-count: auto;
			column-width: clamp(16rem, 45vw, 32rem);
			column-gap: 8px;
		}

		.pv-blocks--columns .pv-block {
			margin-bottom: 8px;
			break-inside: avoid;
		}

		.pv-blocks--list {
			display: grid;
			grid-template-columns: minmax(0, 1fr);
			gap: 16px;
		}

		.pv-block {
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: fluid(24, 20);
			background-color: var(--view-block-bg);
		}

		.pv-block__video {
			width: 500px;
			height: 333px;
		}

		.pv-block--dark {
			background-color: var(--color-neutral-900);
			color: var(--color-neutral-100);
			--view-title-color: var(--color-neutral-100);
		}

		.pv-block--dark .default-input {
			--di-color: var(--color-neutral-100);
			--di-placeholder-color: var(--color-neutral-300);
			--di-bg: var(--color-neutral-900);
			--di-bg-hover: var(--color-neutral-900);
			--di-bg-focus: var(--color-neutral-900);
			--di-border-color: var(--color-primary-400);
			--di-border-color-hover: var(--color-primary-300);
			--di-border-color-focus: var(--color-primary-300);
			--di-label-color: var(--color-neutral-200);
			--di-bg-loading: var(--color-neutral-900);
			--di-bg-loading-gradient: var(--color-neutral-500);
		}

		.pv-block__title {
			margin: 0 0 fluid(24, 40);
			color: var(--view-title-color);
			font-size: fluid(32, 18);
			font-weight: 600;
		}

		.pv-block__nav {
			display: flex;
			flex-direction: column;
			gap: 14px;
		}

		.pv-block__preview {
			display: flex;
			flex-wrap: wrap;
			gap: 16px;
			width: 100%;
		}

		.pv-block__items {
			display: flex;
			flex-direction: column;
			gap: 16px;
			width: 100%;
			max-width: 100%;
		}

		.pv-block__item {
			max-width: 100%;
		}

		.pv-block__devider {
			flex: 1 1 100%;
			width: 100%;
			border-bottom: 1px solid var(--view-border);
		}

		.pv-block__items--row {
			flex: 1 1 100%;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-end;
			column-gap: 16px;
		}

		.pv-block__items--align-start {
			align-items: flex-start;
		}

		.skeleton-preview-card {
			display: flex;
			flex-direction: column;
			gap: 12px;
			width: 280px;
		}

		.skeleton-preview-card__image {
			width: 100%;
			height: 148px;
			border-radius: 8px;
			background-color: var(--color-neutral-200);
		}

		.skeleton-preview-card__title {
			margin: 0;
			font-size: 18px;
			line-height: 1.3;
		}

		.skeleton-preview-card__text {
			margin: 0;
			font-size: 14px;
			line-height: 1.45;
		}

		.skeleton-preview-row {
			display: flex;
			align-items: center;
			gap: 14px;
			width: 320px;
		}

		.skeleton-preview-row__avatar {
			flex-shrink: 0;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background-color: var(--color-neutral-200);
		}

		.skeleton-preview-row__content {
			display: flex;
			flex-direction: column;
			gap: 6px;
		}

		.skeleton-preview-row__title {
			font-size: 16px;
			line-height: 1.3;
		}

		.skeleton-preview-row__text {
			font-size: 14px;
			line-height: 1.35;
		}

		.skeleton-preview-api-card {
			display: grid;
			grid-template-columns: 96px 1fr;
			align-items: start;
			gap: 16px;
			width: 360px;
		}

		.skeleton-preview-api-card__media {
			width: 96px;
			height: 72px;
			border-radius: 8px;
			background-color: var(--color-neutral-200);
		}

		.skeleton-preview-api-card__content {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		.skeleton-preview-api-card__title {
			margin: 0;
			font-size: 16px;
			line-height: 1.3;
		}

		.skeleton-preview-api-card__text {
			margin: 0;
			font-size: 14px;
			line-height: 1.4;
		}

		.pv-link {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			gap: 8px;
			margin: 0;
			padding: 0;
			color: var(--view-link);
			font-size: fluid(18, 16);
			font-weight: 600;
			text-decoration: none;
			transition: color 0.3s ease;
		}

		.pv-link::after {
			content: '';
			display: block;
			width: 24px;
			height: 24px;
			background-color: var(--view-check);
		}

		.pv-link:not(:last-child) {
			padding-bottom: 14px;
			border-bottom: 1px solid var(--view-border);
		}

		@media (hover: hover) and (pointer: fine) {
			.pv-link:hover {
				color: var(--view-link-hover);
			}
		}

		.pv-link.checked::after {
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.38541 10.4817L13.2648 3.46179L14.716 4.7934L7.83668 11.8133C7.06234 12.6035 5.76696 12.6202 4.9712 11.8502L1.28369 8.28204L2.69791 6.91362L6.38541 10.4817Z' fill='%23422EFF'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 16px;
		}

		.gallery {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
		}

		.gallery__item {
			display: block;
			width: 375px;
			height: 250px;
		}
